<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Cursos</h1>
      <form>
        <div class="mb-3">
          <label for="inputCourse" class="form-label">Nome do Curso</label>
          <input formControlName="name" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
          <div id="nameHelp" class="form-text">Digite o nome do curso</div>
        </div>
        <div class="mb-3">
          <label for="inputCourse" class="form-label">Valor do Curso</label>
          <input formControlName="course" type="text" class="form-control" id="inputCourse" aria-describedby="courseHelp">
          <div id="courseHelp" class="form-text">Digite o valor do curso</div>
        </div>
        <label for="inputCourse" class="form-label">Curso esta ativo?</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkDefault">
          <label class="form-check-label" for="checkDefault">
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
      <h2 class="text-center">Cursos Cadastrados</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of courses">
        <th scope="row">{{c.id}}</th>
        <td>{{c.name}}</td>
        <td>{{c.price}}</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
